/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

html {
  font-size: 1.125em; /* 18px */
  line-height: 1.188em; /* 19px */
}

main {
  padding: 0.5em; /* 5px */
}

header h1 {
  font-size: 1.555em; /* 28px */
  padding: 0.444em 0.5em; /* 8px */

}

article h2 {
  font-size: 1.0625em; /* 17px */
  padding: 0.10625em;
}

article p {
  font-size: 1em; /* 16px */
  line-height: 1.0625em; /* 17px */
  padding: 0.25em; /* 4px */
}

ul {
  padding-left: 1em; /* 16px */
  line-height: 1.125em; /* 18px */
}

li {
  list-style-type: square;
}
